.header {
    background: url("./headerImg.jpg") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: right;
    height: 75vh;
    color: rgb(26,177,170);
    
    padding-top: 25vh;
    
}
.header h1 {
    font-size: 80px;
    font-family: 'Caveat', cursive;
    background-color: white;
}
.header h2 {
    font-size: 60px;
    font-family: 'Caveat', cursive;
    background-color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.header h3 {
    background-color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.btn {
    background: rgb(26,177,170);
    height: 35px;
}
input {
    height: 35px;
}
form {
    width: 35vw;
    margin: 40px auto;
}