.savedHeader {
    background: url("./savedbooks.jpg") no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: right;
    height: 75vh;
    color: rgb(26,177,170);
    text-shadow: 1px 1px black;
    padding-top: 25vh;
}
.savedHeader h1{
    font-size: 150px;
    font-family: 'Caveat', cursive;
    background-color: white;
}
.savedHeader h2 {
    font-size: 50px;
    font-family: 'Caveat', cursive;
    background-color: white;
}